n8n_amharic_story_clean_workflow.json
{
  "name": "Daily Amharic Story to Audio",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 9,
            "minute": 0
          }
        ]
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "1"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "temperature": 0.8,
        "messages": [
          {
            "role": "user",
            "content": "Write a short emotional story in Amharic that fits in a 60-second video."
          }
        ]
      },
      "name": "Generate Story",
      "type": "n8n-nodes-base.openaiChat",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "2",
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"input\": {\"text\": \"={{ $json[\\\"choices\\\"][0][\\\"message\\\"][\\\"content\\\"] }}\"}, \"voice\": {\"languageCode\": \"am-ET\", \"name\": \"am-ET-Wavenet-A\"}, \"audioConfig\": {\"audioEncoding\": \"MP3\"}}"
      },
      "name": "Google TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "3",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Google Cloud API"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Generate Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Story": {
      "main": [
        [
          {
            "node": "Google TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "74c0e962-841c-41e2-a158-0628dcc75c46",
  "createdAt": "2025-05-19T21:55:34.595680",
  "updatedAt": "2025-05-19T21:55:34.595680"
}